/* Style Reset */
*, *::before, *::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, span, ul, ol, li, body {
  padding: 0;
  margin: 0;
}

/* Links reset */
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

/* Custom Properties */
:root {
  /* --variable-name: property */
}

.hero {
  height: 100vh;
  position: relative;
  border: 2px solid limegreen;
}

.box {
  border: 1px solid red;
}

.canvas {
  display: none;  
  position: relative;
  border: 2px solid red;

}

.heading {
  position: absolute;
  text-align: left;
  gap: 1rem;
}

.heading--line_1 {

}

.heading--line_2 {

}

.heading--link {
  /* border: 2px solid red; */
}

.nav--container {

}

.primary-navigation {
  cursor: pointer !important;
}

.button-container {
  position: fixed;
  top: 0;
  right: 5px;
  z-index: 100;
}

.dark-toggle, .menu-toggle {
  background-color: white;
  color: black;
  border: none;
}

.nav-link {

}

/* Mobile and Tablet*/
@media (max-width: 767px) {
.primary-navigation[data-visible="true"] {
    transform: translateX(0%);
    transition: transform 250ms ease-in-out;
  }

  .primary-navigation[data-visible="false"] {
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }

  .primary-navigation {
    position: fixed;
    display: flex;
    flex-direction: column;
    inset: 0 0 0 5%;
    padding: 10rem 2em;
    background: hsl(0 0% 100%);
    z-index: 10;
    gap: 1rem;
  }

  .nav-link {
    font-size: calc(1.325rem + .9vw);
  }

  .footer > i {

  }
}

/* Tablets */
@media (min-width: 481px) and (max-width: 767px){
  body {
    /* background-color: #87ceeb; */
  }

  .nav-link {
    margin-left: 4em;
  }
}

/* Desktops */
@media (min-width: 768px) {
  body {
    /* background-color: cyan; */
  }

  .nav--container {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
  }

  .heading {
    margin-left: 4em;
  }

  .primary-navigation {
  }

  .nav-link {
    font-size: calc(1rem + .9vw);
  }
}