/* Style Reset */
*, *::before, *::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, span, ul, ol, li, body {
  padding: 0;
  margin: 0;
}

/* Links reset */
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

/* Custom Properties */
:root {
  /* --variable-name: property */
}

.hero {
  height: 100vh;
  position: relative;
  border: 2px solid limegreen;
}

.canvas {
  /* Check later */
  display: none;  
  position: relative;
  border: 2px solid red;

}

.heading {
  position: absolute;
  text-align: left;
  gap: 1rem;
}

.heading--line_1 {

}

.heading--line_2 {

}

.heading--link {
  /* border: 2px solid red; */
}

.nav--container {
  position: absolute;
  top: 0;
  right: 0;
}

.primary-navigation[data-visible="true"] {
  transform: translateX(0%);
  transition: transform 250ms ease-in-out;
}

.primary-navigation[data-visible="false"] {
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.primary-navigation {
  position: fixed;
  display: flex;
  flex-direction: column;
  inset: 0 0 0 5%;
  padding: 10rem 2em;
  background: hsl(0 0% 100%);
  z-index: 10;
  gap: 1rem;
  /* transform: translateX(0%); */
}

.button-container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
}

.dark-toggle, .menu-toggle {
}

.nav-link {

}

/* a {
  text-decoration: none;
  color: inherit;
} */

/* body {
  font-family: "Roboto", "sans-serif";
} */

/* .hero {
  position: relative;
} */

/* canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
} */

/* .heading {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  align-self: center;
  justify-content: center;
  height: 100vh;
  color: white;
  line-height: normal;
} */

/* .heading--link {
  border: 1px solid red;
} */

/* .heading--text {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
  text-align: center;
  width: auto;
  height: auto;
} */

/* .header {
} */

/* .navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 40px;
} */

/* .navbar--links {
  display: flex;
  gap: 10px
} */

/* .about {
  display: flex;
  flex-direction: column;
  align-items: center;;
  margin-inline: auto;
} */