@tailwind base;
@tailwind components;
@tailwind utilities;

/* Style Reset */
*, *::before, *::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, span, ul, ol, li, body {
  padding: 0;
  margin: 0;
}

/* Links reset */
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

/* Custom Properties */
:root {
  /* --variable-name: property */
  --color-neonblue: #2272FF;
  --color-neonblack: #1D1D1D;
  --color-neonwhite: #E6E6E6;
}

body {
  font-family: 'Roboto', 'sans-serif';
  font-size: 16px;
  background-color: var(--color-neonblack)
}



/* .canvas {
  display: none;
  position: relative;
  border: 2px solid red;

} */

/* Mobile and Tablet*/
/* @media (max-width: 767px) {
  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
    transition: transform 250ms ease-in-out;
  }

  .primary-navigation[data-visible="false"] {
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }

  .primary-navigation {
    inset: 0 0 0 5%;
    padding: 10rem 2em;
    background: hsl(0, 0%, 6%, .8);
    backdrop-filter: blur(5px);
    background: var(--color-neonblack)
  }
} */


.primary-navigation {
  width: clamp(50%, 700px, 90%);
  height: min(50%, 300px);

  padding: 0 2rem;
  border-radius: 12px;
}

.about {
  margin-bottom: 500px;
}

/* Tablets */
@media (min-width: 481px) and (max-width: 767px) {
  body {
    color: var(--color-neonwhite)
  }
}




